<% if(typeof errors != 'undefined') { %>
  <% errors.forEach(function (error) { %>
    <div class="isa_error">
      <i class="fa fa-times-circle"></i>
      <%= error.msg %>
    </div>
  <% }); %>
<% } %>

<% if(success_msg != '') { %>
  <div class="isa_success">
    <i class="fa fa-check"></i>
    <%= success_msg %>
  </div>
<% } %>

<% if(error_msg != '') { %>
  <div class="isa_error">
    <i class="fa fa-times-circle"></i>
    <%= error_msg %>
  </div>
<% } %>

<% if(error != '') { %>
  <div class="isa_error">
    <i class="fa fa-times-circle"></i>
    <%= error %>
  </div>
<% } %>

<% if(dashboard_success_msg != '') { %>
  <div id="dashboard-message" class="isa_success">
    <i class="fa fa-check"></i>
    <%= dashboard_success_msg %>
  </div>
<% } %>

<% if(dashboard_info_msg != '') { %>
  <div id="dashboard-message" class="isa_info">
    <i class="fa fa-info-circle"></i>
    <%= dashboard_info_msg %>
  </div>
<% } %>

<% if(dashboard_error_msg != '') { %>
  <div id="dashboard-message" class="isa_error">
    <i class="fa fa-times-circle"></i>
    <%= dashboard_error_msg %>
  </div>
<% } %>

<% if(info != '') { %>
  <div class="isa_info">
    <i class="fa fa-info-circle"></i>
    <%= info %>
  </div>
<% } %>
