<html lang="en">

  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/nav.ejs") %>
    <%- include("../partials/messages") %>
    
    <form class="" action="index.html" method="post">
      <div id="table" style="margin-top: 11px">
        <h3 class="form-title">Check Data Before Submitting</h3>
      </div>
    </form>

    <%- include("../partials/footer.ejs") %>

  </body>

  <%- include("../dataVis/bulkTable.ejs") %>

</html>
