<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/nav.ejs") %>
    <%- include("../partials/messages") %>

    <form class="" action="/dashboard/bulk_submit" method="post">
      <div id="table" class="bulk-table-width"style="margin-top: 11px">
        <h2 class="form-title">Check Data Before Submitting</h2>
        <div id="bulk-table-container"></div>
      </div>
    </form>

    <%- include("../partials/footer.ejs") %>

  </body>

  <%- include("../dataVis/bulkTable.ejs") %>

</html>
