<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body>

  <%- include("../partials/nav.ejs") %>

  <%- include("../partials/messages") %>
  <div id="new-user-message"></div>
  <div class="flex-container">

    <%- include("../dataVis/form.ejs") %>

    <div id="d3-graph"></div>

  </div>

  <div id="table" class="dash-table-width">
    <h2 class="form-title">All Hikes</h2>
    <div id="table-container"></div>
  </div>

  <%- include("../partials/footer.ejs") %>

</body>

<script src="https://d3js.org/d3.v5.min.js"></script>
<%- include('../dataVis/newUser.ejs') %>
<%- include('../dataVis/d3.ejs') %>
<%- include('../dataVis/table.ejs') %>
<script type="text/javascript">
  if (<%- JSON.stringify(new_user) %> == "Yes") {
    var tableElement = document.getElementById('table');
    tableElement.setAttribute('style', 'display:none;');
    var d3graph = document.getElementById('d3-graph');
    d3graph.setAttribute('style', 'display:none;');
    var formContainer = document.getElementById('form-container');
    formContainer.setAttribute('style', 'margin-left:auto;margin-right:auto');
  }
</script>
</html>
