<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <div id="table" style="margin-top: 11px">
    <h3 class="form-title">Current Data From Hike</h3>
  </div>
  <div class="flex-container">

    <%- include("./dataVis/editForm.ejs") %>

  </div>
  <%- include('./partials/footer.ejs') %>
</body>
<%- include('./dataVis/editTable.ejs') %>
</html>
