<html lang="en">

<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <%- include("./partials/messages") %>



  <div id="details-container" class="details-container details-margins">
    <h3 class="login-form-title"><a id="edit-button" ><img src="/editicon.svg" alt="edit icon" class="edit-icon-details"></a> <%- hikeObject.hike_name %></h3>
    <div <%- image_orientation %>>
      <% if (image_orientation == "class=\"orientation_none\"") { %>

        <div class="image-upload-box">
          <div class="center-image-form">
            <p class="add-image-label">Add Image</p>
            <div class="image-form-container">
              <form method="POST" encType="multipart/form-data" class="bulk-form" id="image-form">
                <label for="upload-button" class="choose-image-button">
                  <i class="fa fa-cloud-upload"></i> Select Image
                </label>
                <input type="file" name="myImage" accept="image/*" id="upload-button"/>
                <input type="submit" value="Submit" id="upload-image-button"/>
              </form>
            </div>
          </div>
        </div>

      <% } else { %>
      <a href="<%- hikeObject.image_url.link %>" target="_blank"><img <%- image_link %> alt="image" class="details-image"></a>
      <% } %>
      <div class="details-grid">
        <div class="grid-item">
          <h4>Date</h4>
          <p><%- hikeObject.hike_date %></p>
        </div>
        <div class="grid-item">
          <h4>City</h4>
          <p><%- hikeObject.city %></p>
        </div>
        <div id="details-location" class="grid-item">
          <h4>Location</h4>
          <p><%- hikeObject.location %></p>
        </div>
        <div id="details-distance" class="grid-item">
          <h4>Distance</h4>
          <p><%- hikeObject.mileage %> miles</p>
        </div>
        <div class="grid-item">
          <h4>Duration</h4>
          <p><%- hikeObject.time %></p>
        </div>
        <div class="grid-item">
          <h4>Elevation Gain</h4>
          <p><%- hikeObject.elevation_gain %> ft</p>
        </div>
        <div class="grid-item">
          <h4>Average Pace</h4>
          <p><%- hikeObject.average_pace %></p>
        </div>
        <div class="grid-item">
          <h4>Min Elevation</h4>
          <p><%- hikeObject.min_elevation %> ft</p>
        </div>
        <div class="grid-item">
          <h4>Max Elevation</h4>
          <p><%- hikeObject.max_elevation %> ft</p>
        </div>
        <div class="grid-item">
          <h4>Average BPM</h4>
          <p><%- hikeObject.average_bpm %> BPM</p>
        </div>
        <div class="grid-item">
          <h4>Max BPM</h4>
          <p><%- hikeObject.max_bpm %> BPM</p>
        </div>

        <div id="details-notes" class="grid-item">
          <h4>Notes</h4>
          <p id='details-notes-p'><%- hikeObject.notes %></p>
        </div>
      </div>
    </div>

  </div>
  <%- include('./partials/footer.ejs') %>
</body>
<script>
  document.getElementById('edit-button').setAttribute('href', '/dashboard/' + <%- JSON.stringify(hikeId) %>)
  document.getElementById('image-form').setAttribute('action', '/dashboard/hike_details/' + <%- JSON.stringify(hikeId) %>)
</script>
</html>
