<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
  <%- include('../partials/nav.ejs') %>
  <div id="dashboard-message" class="isa_info">
    <i class="fa fa-info-circle"></i>
    This is an example page! Click on 'Home' to see your data.
  </div>
  <div class="flex-container">

    <%- include("../dataVis/exampleDescription.ejs") %>

    <div id="d3-graph"></div>

  </div>

  <div id="table" class="dash-table-width">
    <h3 class="form-title">All Hikes</h3>
    <div id="table-container"></div>
  </div>
  <%- include('../partials/footer.ejs') %>
</body>


<script src="https://d3js.org/d3.v5.min.js"></script>
<%- include('../dataVis/d3.ejs') %>
<%- include('../dataVis/exampleTable.ejs') %>
</html>
